
/*---------------------------메인--------------------------------------*/
main {
    margin:0 auto;
}
main #banner_slide {max-width:1440px; height:600px;}
main #banner_slide .swiper-wrapper {}
main #banner_slide .swiper-wrapper .swiper-slide {} 
main #banner_slide .swiper-wrapper .swiper-slide .txt {
    padding:178px 80px;
} 
main #banner_slide .swiper-wrapper .swiper-slide .txt h2 {
    color:#fff;
    font-size:2.5rem;
    
    font-weight:700;
    margin-bottom:40px;
}
main #banner_slide .swiper-wrapper .swiper-slide .txt p {
    color:#fff;
    font-size:1.333rem;
    line-height:40px;
    letter-spacing: -0.84px;
    margin-bottom:40px;
}
main #banner_slide .swiper-wrapper .slide2 .txt h2 {
    letter-spacing: -0.84px;
}
main #banner_slide .swiper-wrapper .slide3 .txt {} 
main #banner_slide .swiper-wrapper .slide3 .txt h2 {
    color:#000;
    
} 
main #banner_slide .swiper-wrapper .slide3 .txt p {
    color:#000;
} 
main #banner_slide .swiper-wrapper .swiper-slide .txt .bn_bt {
    
}
main #banner_slide .swiper-wrapper .swiper-slide .txt .bn_bt .bt {
    padding:10px 20px;
    background:#fff;
    display:flex;
    align-items:center;
}
main #banner_slide .swiper-wrapper .swiper-slide .txt .bn_bt .bt:hover {
    background:#aaa;
}
main #banner_slide .swiper-wrapper .swiper-slide .txt .bn_bt .bt span{
    font-size:1.333rem;
    font-weight:500;
}
main #banner_slide .swiper-wrapper .swiper-slide .txt .bn_bt .bt img {
    margin-left:20px;
}
main #banner_slide .swiper-wrapper .slide1 {
    background:url(../imges/top_banner1.jpg);
    background-size:cover;
}
main #banner_slide .swiper-wrapper .slide2 {
    background:url(../imges/top_banner2.jpg)center no-repeat;
    background-size:cover;
}
main #banner_slide .swiper-wrapper .slide3 {
    background:url(../imges/top_banner3.jpg) no-repeat;
    background-size:cover;
}
main #banner_slide .swiper-scrollbar {
    left:30%; bottom:30px;
    background:#fff;
    width:500px;
    /* transform:translateX(-5%); */
}
main #banner_slide .swiper-scrollbar-drag {
    background:#f7bf07;
}
/*----------------------------item----------------------------*/
main #container {
    /* width:calc(100% -60px); */
    margin-bottom:100px;
}
main #container .item_txt {
    max-width:1380px; 
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center ;
    padding:50px 0;
}
main #container .item_txt h2 {
    font-size:2.369rem;
    font-weight:700;
}
main #container .item_txt a {
    font-size:1.333rem;
    font-weight:600;
    text-decoration: underline;
}
main #container .contents {
    /* background:lightblue; */
    width:1380px; margin:0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
main #container .contents .item {
    width:330px; 
    /* height:493px; */
    position:relative;
}
main #container .contents .item .item_top  {
    padding-bottom:18px;
}
main #container .contents .item .item_top .item_img {}
main #container .contents .item .item_top .item_img img {}
main #container .contents .item .item_top .like {
    width:30px; height:30px;
    position:absolute;
    top:10px; right:10px;
}
main #container .contents .item .item_top .like img {
    width:100%;
}
main #container .contents .item .item_btm {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}
main #container .contents .item .item_btm h3 {}
main #container .contents .item .item_btm h3 a {
    font-weight:700;
    font-size:1.333rem;
}
main #container .contents .item .item_btm h3 a span {
    font-size:1.333rem;
}
main #container .contents .item > .item_btm > em {
    font-size:1.125rem;
    font-weight:500;
    padding:20px 0;
}
main #container .contents .item .item_btm .sub_n {
    font-size:1rem;
    color:#aaa;
    /* background:yellow; */
}
main #container .contents .item .item_btm .color {   
    display:block;
    display:flex;
    flex-flow:row nowrap;
    margin:20px 0 0 0;
}
main #container .contents .item .item_btm .color > span {
    width:25px; height:25px;
    margin: 0 10px 0 0;
}
main #container .contents .item .item_btm .color > span:last-child{margin-right:0;}
main #container .contents .item .item_btm .color .black {
    background: #000;
}
main #container .contents .item .item_btm .color .blue {
    background:#133e92;
}
main #container .contents .item .item_btm .color .green {
    background: #4e764f;
}
main #container .contents .item .item_btm .color .pink {
    background: #fdabff; 
}
main #container .contents .item .item_btm .color .red {
    background:#ff0000;
}
main #container .contents .item .item_btm .color .aqua {
    background:#95fff9;
}
main #container .contents .item .item_btm .color .white {
    background:#fff;
    border:1px solid #000;
}
main #container .contents .item .item_btm .color .basic {
    background:#d1c39f;
}
/*------------------------------------------------베너-------------------------------------*/
main .con_banner {}
main .con_banner .ban {
    max-width:1380px; margin:0 auto;
    display:flex;
    flex-flow:column nowrap;
}
main .con_banner .ban1{
    background:url(../imges/benner1.jpg);
    text-align:right;
    padding-right:50px;
}

main .con_banner .ban2{
    background:url(../imges/benner2.jpg);
    padding-left:50px;
    color:#fff;
}
main .con_banner .ban3{
    background:url(../imges/benner3.jpg);
    text-align:right;
    padding-right:50px;
    color:#fff;
}
main .con_banner .ban1 p {padding-bottom:100px;}
main .con_banner .ban2 h3 {padding-bottom:80px;}
main .con_banner .ban3 h3 {padding-bottom:80px;}
main .con_banner .ban h2 {
    font-size: 3.125rem;
    font-weight:700;
    padding-top:137px;
    letter-spacing: -2px;
}
main .con_banner .ban h3 {
    font-size:2rem;
    margin:20px 0;
    line-height:46px;
}
main .con_banner .ban p {font-size:1.333rem;}
/*-------------------------------------------------tip----------------------------*/
main .tip_container {
    width:1380px; margin:0 auto;
    padding-bottom:100px;
    
}
main .tip_container h2 {
    font-size:2.369rem;
    font-weight:700;
    padding:50px 0;
}
main .tip_container .tip_contents {
    display:flex;
    justify-content:space-between;
}
main .tip_container .tip_contents .tip {
    /* background:lightcoral; */
    height:620px;
    display: flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}
main .tip_container .tip_contents .tip .tip_top .tip_img {}
main .tip_container .tip_contents .tip .tip_top h3 {
    font-size:1.777rem ;
    font-weight:600;
    line-height: 41px;
    padding:25px 0;
}
main .tip_container .tip_contents .tip .tip_top .tip_txt {
    font-size:1.125rem;
    line-height:30px;
}
main .tip_container .tip_contents .tip .tip_btn {
    text-align: center;
}
main .tip_container .tip_contents .tip .tip_btn .tip_bt {
    border:1px solid #000;
    border-radius:20px;
    padding:7px 20px ;
    background:none;
}
main .tip_container .tip_contents .tip .tip_btn .tip_bt:hover {
    background:#555454;
}
main .tip_container .tip_contents .tip .tip_btn .tip_bt span {
    font-size:1.333rem;
    font-weight:600;
}
