.item_details,
.item_details_bt {min-width:770px;}
.item_details {
    padding-top:100px;
    margin:0 auto;
    max-width:1380px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.item_details .details_img {
    margin-bottom:50px;
}
.item_details .details_img .main_img img {}
.item_details .details_img .sub_img {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}
.item_details .details_img .sub_img a {

}
.item_details .details_img .sub_img .sub1 {}
.item_details .details_img .sub_img .sub2 {}
.item_details .details_img .sub_img .sub3 {}
/*-----------------------------------------------------------------상품 설명*/
.item_details .details_content {
    height:690px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    margin-left:50px;
}
.item_details .details_content .item_name {
}
.item_details .details_content .item_name .item_top {
    display:flex;    
}
.item_details .details_content .item_name .item_top > p {
    font-size:1.125rem;
    font-weight:700;
    margin-right:10px;
}
.item_details .details_content .item_name .item_top > span {
    font-size:1rem;
    color:#aaa;
}
.item_details .details_content .item_name > h2 {
    font-size:2.369rem;
    font-weight:700;
    margin:30px 0;
}
.item_details .details_content .item_name .link_pay {
    width:450px;
    display:flex;
    justify-content:space-between;
}
.item_details .details_content .item_name .link_pay > em {
    font-size:1.777rem;
    font-weight:600;
}
.item_details .details_content .item_name .link_pay .link_like {
    display:flex;
}
.item_details .details_content .item_name .link_pay .link_like .link {
    margin-right:15px;
}
.item_details .details_content .item_name .link_pay .link_like .link img {}
.item_details .details_content .item_name .link_pay .link_like .like {}
.item_details .details_content .item_name .link_pay .link_like .like img {}
/*---------------------------------------------------선*/
p span {
    display:block;
    background: #000;
    width:100%; height:3px;
}
/*-------------------------------------------------------------색,사이즈*/
.item_details .details_content .item_cz {}
.item_details .details_content .item_cz .color {
    display:flex;
    margin-bottom:30px;
}
.item_details .details_content .item_cz .color p {
    font-size:1.777rem;
    font-weight:600;
}
.item_details .details_content .item_cz .color .color_view {
    margin-left:75px;
    display:flex;
}
.item_details .details_content .item_cz .color .color_view a {}
.item_details .details_content .item_cz .color .color_view a span {
    display:block;
    width:30px; height:30px;
}
.item_details .details_content .item_cz .color .color_view .white span {
    background:#fff;
    border:1px solid #000;
    margin-right:10px;
}
.item_details .details_content .item_cz .color .color_view .black span {
    background: #000;
}
.item_details .details_content .item_cz .size {
    /* background:lightcoral; */
    display:flex ;
}
.item_details .details_content .item_cz .size p {
    font-size:1.777rem;
    font-weight:600
} 
.item_details .details_content .item_cz .size .size_view {
    /* background:lightgreen; */
    width:240px;
    display:flex;
    flex-flow:row wrap;
    margin-left:50px;
}
.item_details .details_content .item_cz .size .size_view a {
    border:1px solid #000;
    width:80px; height:40px;
    padding:10px 20px;
}
.item_details .details_content .item_cz .size .size_view .active{
    background: #aaa;
}
.item_details .details_content .item_cz .size .size_view > a > span {
    font-size:1.333rem;
    font-weight: 700;
}
/*-----------------------------------------------------------------버튼*/
.item_details .details_content .item_bt {}
.item_details .details_content .item_bt .pay_bt {}
.item_details .details_content .item_bt .pay_bt .bt_i {
    width:450px; height:60px;
    font-size:1.777rem;
    background: #000;
    color:#fff;
    margin-bottom:20px;
}
.item_details .details_content .item_bt .pay_bt .bt_i2 {
    background: #fff;
    color: #000;
    border:1px solid #000;
}
.item_details .details_content .item_bt .pay_bt:hover {
    filter:brightness(80%);
}
/*------------------------------------------------------------------중요*/
.item_details .details_content .item_important {
    display:flex;
    flex-flow:column nowrap;
}
.item_details .details_content .item_important .truck {
    margin-bottom:20px;
}
.item_details .details_content .item_important .truck a {
    display:flex;
    align-items: center;
}
.item_details .details_content .item_important .truck > a > img {}
.item_details .details_content .item_important .truck > a > span {  
    font-size:1.3333rem;
    font-weight: 500;
    margin-left:20px
}
.item_details .details_content .item_important .import {}
.item_details .details_content .item_important .import a {
    display:flex;
    align-items: center;
}
.item_details .details_content .item_important .import > a > img {}
.item_details .details_content .item_important .import > a > span {
    font-size:1.3333rem;
    font-weight:500;
    margin-left:20px
}
/*상세페이지 버튼 리뷰 추천 상품*/
.item_details_bt {
    /* background:lightpink; */
    display: flex;
    justify-content:space-between;
    max-width:1380px; margin:0 auto;
    border-top:5px solid #000;
    padding-bottom:200px;

}

.item_details_bt .details {
    text-align: center;
    border-bottom:1px solid #aaa;
}
.item_details_bt .active {
    border-bottom:1px solid #000;
    font-weight:700;
}
.item_details_bt .active {}
.item_details_bt .details h3 {
    width:460px;
}
.item_details_bt .details h3  {

}
.item_details_bt .details h3 a {
    display:block;
    font-size:1.777rem;
    padding:50px 0;
}

